*~
/*.tar.bz2
/*.tar.gz
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/autom4te.cache
/babl.pc
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/mingw32-config.cache
/missing
/mkinstalldirs
/test-driver
/stamp-h
/stamp-h.in
/stamp-h1
