cache:
  paths:
    - _pacman_cache

.build:
  stage: build
  image: archlinux:base-20210214.0.15477
  variables:
    PACMAN_CACHE: $CI_PROJECT_DIR/_pacman_cache
  artifacts:
    when: always
    paths:
      - _build/meson-logs
  before_script:
    - pacman -Syu --noconfirm --needed --cachedir $PACMAN_CACHE --ignore glibc
        base-devel
        git
        gobject-introspection
        meson
        vala
        pacman-contrib
        ${EXTRA_PKGS}
  script:
    - meson _build
        -D enable-f16c=true
        -D enable-mmx=true
        -D enable-sse=true
        -D enable-sse2=true
        -D enable-sse4_1=true
        -D with-docs=true
        ${EXTRA_OPTIONS}
    - ninja -C _build
    - ninja -C _build test
  after_script:
    # Remove all cached packages but the latest version
    - paccache -r -k1 --cachedir $PACMAN_CACHE

latest-lcms:
  extends: .build
  variables:
    EXTRA_OPTIONS : "-Dwith-lcms=true"
    EXTRA_PKGS: "lcms2"

latest-nolcms:
  extends: .build
  variables:
    EXTRA_OPTIONS : "-Dwith-lcms=false"
    EXTRA_PKGS: ""
