/.deps
/.libs
/*.o
/*.exe
/*.trs
/*.log
/Makefile
/Makefile.in
/babl-html-dump
/babl_class_name
/babl_fish_path_dhtml
/babl_fish_path_fitness
/cairo-RGB24
/concurrency-stress-test
/conversions
/extract
/float-to-8bit
/floatclamp
/formats
/grayscale_to_rgb
/introspect
/models
/n_components
/nop
/palette
/rgb_to_bgr
/rgb_to_lab_to_rgb
/rgb_to_ycbcr
/rgb_to_ycbcr_to_rgb
/sanity
/srgb_to_lab_u8
/types
/hsva
/hsl
/cairo_cmyk_hack
/chromaticities
/format_with_space
/n_components_cast
/palette-concurrency-stress-test
/transparent
