/*.o
/.deps
/.libs
/Makefile
/Makefile.in
/babl-gen-test-pixels
/babl_fish_path_fitness
/babl-benchmark
/babl-html-dump
/babl-icc-dump
/babl-icc-rewrite
/babl-verify
/conversions
/formats
/introspect
/trc-validator
